<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <label>Recherche</label>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <input type="text" class="form-control small" />
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <table class="table align-items-center">

                            <tbody>
                                <tr *ngFor="let item of items | paginate: { itemsPerPage: 5, currentPage: currentPage }">

                                </tr>
                            </tbody>
                            <tfoot>
                                <pagination-controls id="some_id" (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)" maxSize="9" directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                                    screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                                </pagination-controls>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card" style="min-height: 80vh">
            <div class="card-header text-center">Articles</div>
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table align-items-center" style="max-height: 80vh">
                            <thead>
                                <th><small>Libelle</small></th>
                                <th><small>Qte</small></th>
                                <th><small>P.U</small></th>
                                <th><small>Soustotal</small></th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of items | paginate: { itemsPerPage: 5, currentPage: currentPage }">

                                </tr>
                            </tbody>
                            <tfoot>
                                <pagination-controls id="some_id" (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)" maxSize="9" directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                                    screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                                </pagination-controls>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>