<div class="col-12 col-lg-12 col-xl-12">
    <div class="card">
        <div class="card-header">Contacts

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table align-items-center">
                    <thead>
                        <th>Name</th>
                        <th>Phone number</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="fa fa-circle text-white mr-2"></i> Foulen ben foulen</td>
                            <td>99 999 999</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-circle text-white mr-2"></i> Foulen ben foulen</td>
                            <td>99 999 999</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-circle text-white mr-2"></i> Foulen ben foulen</td>
                            <td>99 999 999</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-circle text-white mr-2"></i> Foulen ben foulen</td>
                            <td>99 999 999</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>